header {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}

.hero {
  background-image: url('../assets/hero.jpg');
  width: 100vw;
  max-width: 100%;
  min-height: 100px;
  height: 200px;
  display: flex;
  background-size: contain;
}



footer {
  bottom: 0;
  left: 0;
  width: 100%;
  color: #f2f2f2;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  background: #333;
}

a {
  margin-top: 20px;
  width: fit-content;
}

a > img {
  width: 30px;
  height: 30px;
}